<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/dist/assets/scss/reset.css">
  <link rel="stylesheet" href="/public/dist/assets/scss/index.css">
  <title>Login</title>
</head>
<body>
  <a href="/">Home</a>
  <div class="login_form">
    <h2 class="login_form_title">Nodejs MYSQL Login</h2>
  <form action="" method="POST">
    <div>
      <input type="text" name="username" autocomplete="off" placeholder="Username" class="login_input" required>
    </div>
    <div>
      <input type="password" name="password" autocomplete="off" placeholder="Password" class="login_input" required>
    </div>
    <div class="login_bt_box">
      <input type="submit" value="Login" class="login_submit_bt">
    </div>
  </form>
</div>
</body>
</html>
